<button pButton type="button" (click)="showDialog()" label="Deixa-nos uma dedicatória"></button>
<p-dialog header="Deixa-nos uma dedicatória" [(visible)]="displayDialog" [style]="{width: '90vw', height: '90vh'}">
    <div class="flex flex-column" [formGroup]="form">

        <!-- <div class="flex flex-column">
            <selfie-photo></selfie-photo>
        </div> -->

        <div class="flex flex-column">
            <h5>Identifica-te</h5>
            <input type="text" pInputText formControlName="name"/>
        </div>

        <div class="flex flex-column">
            <h5>Escreve aqui a tua mensagem</h5>
            <textarea pInputTextarea rows="8" formControlName="message"></textarea>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-times" (click)="close()" label="Fechar"></button>
        <button pButton icon="pi pi-check" (click)="submitForm()" label="Enviar" class="p-button-success"></button>
    </ng-template>
</p-dialog>
<p-toast position="bottom-center" key="successToast"></p-toast>