<!-- Header -->
<header style="position: fixed; height: 25vh; width: 100vw; top:0; left: 0; display: flex; flex-direction: row;">
    <img src="../../assets/banner.png" height="auto" width="100%"/>
    <div style="position: absolute; top: 45%; left: 0px; right: 0px;">
        <h3
        style="font-family: Comfortaa; color: #7559A1; word-wrap: break-word; text-align: center;">
        Obrigado pela tua presença</h3>
    </div>
    <!-- <div style="flex: 1 1 auto; display: flex; align-items: center; justify-content: center;">
        <h1
            style="font-family: Comfortaa; color: #7559A1; background-color: rgba(112, 150, 87, 0.8); margin-left: 16px; word-wrap: break-word; text-align: center;">
            Obrigado pela tua presença</h1>
    </div> -->
</header>
<vr-camera></vr-camera>
<footer style="position: fixed; width: 100vw; bottom: 16px; left: 0; display: flex; flex-direction: row;">
    <div style="flex: 1 1 auto; display: flex; align-items: flex-end; justify-content: center;">
        <dedicatoria-button></dedicatoria-button>
    </div>
</footer>