<section class="section-top">

    <div class="flower">
        <div class="flower_c1 flower_item"></div>
        <div class="flower_c2 flower_item"></div>
        <div class="flower_c3 flower_item"></div>
        <div class="flower_c4 flower_item"></div>
        <div class="flower_c5 flower_item"></div>
        <div class="flower_c6 flower_item"></div>
    </div>

    <div class="over"></div>

    <div class="container">
        <div class="message-container">
            <div class="message-text">
                <div>Catarina</div>
                <div class="divider"></div>
                <div>
                    <div>Sofia</div>
                    <div style="margin: 30px;"> & </div>
                    <div>Eduardo</div>
                </div>
                <div class="divider"></div>
                <span>31 Julho, 2022</span>
            </div>
        </div>
    </div>

    <div class="scroll">
        <b></b>Scroll
    </div>
</section>

<section class="section-image">
    <div class="over"></div>

    <div class="message-container">
        <div class="message-container-position">
            <h1 class="message-text">Obrigado pela tua presença</h1>
        </div>
    </div>
</section>

<section class="section-vr">
    <div class="text-vr">
        <p>
            <img src="../../../assets/flowers.gif" height="150">
        </p>
        <h2 style="font-size: 30px;margin-bottom: 50px;">Aponta para o teu QRcode</h2>
    </div>
    <div class="h_iframe" style="height: 100vh;width: 100vw;">
        <iframe src="/vrframe" frameborder="0" allowfullscreen
            style="position: absolute; width:100%; height:100%;"></iframe>
    </div>
</section>

<section class="section-comment">
    <div class="text-comment">
        <p>
            <img src="../../../assets/flowers3.gif" height="150">
        </p>
        <h2 style="font-size: 30px;    margin-bottom: 50px;">Deixa-nos uma dedicatoria</h2>
    </div>
    <div style="flex: 1 1 auto; display: flex; align-items: flex-end; justify-content: center;">
        <dedicatoria-from style="    width: 100%;
        margin-left: 50px;
        margin-right: 50px;"></dedicatoria-from>
    </div>
</section>

<section class="section-gallery">
    <div class="text-gallery">
        <p>
            <img src="../../../assets/flowers2.gif" height="150">
        </p>
        <h2 style="font-size: 30px;    margin-bottom: 50px;">Galeria</h2>
    </div>
    <div>
        <gallery-view></gallery-view>
    </div>
</section>