@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/lara-light-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.css';

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
    background-color: #fff;
    color: #333;
    position: relative;
    font-family: Roboto
}


body,
body .p-component {
   font-size: 30px !important;
}

.p-component, .p-component *{
   font-size: 30px !important;
 }


@font-face {
    font-family: 'Comfortaa';
    src: url('./assets/fonts/Comfortaa-Regular.ttf');
}
@font-face {
    font-family: 'Marsha';
    src: url('./assets/fonts/marsha_belle_demo_version-webfont.woff2');
}

.p-dialog-header {
    border-bottom: 1px solid rgb(222, 226, 230) !important;
    padding: 1rem !important;
}

.p-dialog-footer {
    border-top: 1px solid rgb(222, 226, 230) !important;
    padding: 1rem !important;
}